.top{
	height: 57px;
	position:relative;
}
.top img{
	margin:0.384615rem 0 0 4.615384rem;
}
.top span{
	font-size: 32px;
	color:#0760E5;
	position: absolute;
	top:0.384615rem;right:0.384615rem;
}
.top1{
	position:relative;
}
.top1 img{
	height:7.307692rem;
	margin-top:0.192307rem;
}
.top1 p{
	width:3.461538rem;
	height:1.923076rem;
	background-color:#1259E6;
	font-size:18px;
	color:#fff;
	padding-top:1.538461rem;
	display:inline-block;
	text-align:center;
	text-align: center;
	position:absolute;
	bottom:-0.692307rem; left:0.461538rem;
}
.top1 p span{
	position:absolute;
	top:0.384615rem;left:0.384615rem;
}
.top1 a{
	display:inline-block;
	font-size:0.615384rem;
	color:#333333;
	margin:1.038461rem 0 0  5.384615rem;
}
ul{
	margin:0.576923rem 0 0 0.461538rem;
	border-bottom:2px solid #EAEAEA;
}
ul li{
	display: inline-block;
}
ul li a{
	font-size:0.615384rem;
	font-family:'黑体';
	color:#333333;
	padding: 0 0.846153rem 0.423076rem 0;
}
ul .active a{
	color: #1259E6;
}
.box{
	margin:0.576923rem 0 0 0.461538rem;
}
.t1 img{
	margin-top:0.384615rem;
}
.t2{
	margin-top:0.76923rem;
}
.t2 h6{
	font-size:0.692307rem;
	font-family:'黑体';
	color:#333333;
}
.t2 p{
	width:15rem;
	height:1.26923rem;
	font-size:0.538461rem;
	color:#999999;
	line-height:1.26923rem;
	margin:0.384615rem 0 0.384615rem 0;
	border-top:1px solid #EFEFEF;
	border-bottom:1px solid #EFEFEF;
}
.t2 a{
	font-size:0.538461rem;
	color:#656565;
	margin-top:0.576923rem;
}
.box8{
	height:4.230769rem;
	background-color:#313131;
	margin-top:1.153846rem;
}
.box8 p{
	font-size:0.538461rem;
	color:#BFBEBE;
	padding:0.576923rem 0 0 0.576923rem;
}